$main-color: #c70101;
$white-text-color: #ffffff;
$white: #ffffff;
$black-text-color: #0D0D0D;
$bg-main: #F6F6F6;
$bg-input: #ffffff;
$input-text-color: #4B4B4B;
$tab-text-color: #6B6B6B;
$tab-border-color: #D0D0D0;
$catalog-item-border-color: #E8E8E8;
$catalog-old-price-color: #555555;
$catalog-item-list-color: #555555;
$catalog-price-color: #050505;
$bg-modal: #F2F2F2;